body {
  background: red;
}

p {
  font-size: 18px;
  color: green;
}

main {
  background-color: aqua;
  color: orangered;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  font-weight: lighter;
}